@import "./css/button.css";
@import "./css/fonts.css";
@import "./css/variables.css";
@import "./css/headre.css";
@import "./css/input.css";
@import "./css/foore.css";
@import "./css/home.css";
@import "./css/about.css";
@import "./css/recipes.css";
@import "./css/recipe.css";
@import "./css/dropDown.css";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

ul,
ol {
  list-style: none;
}
main{
  flex-grow: 1;
}

a {
  text-decoration: none;
}
img{
  object-fit: cover;
}

body {
  height: 100%;
  font-size: var(--font-size-preset-6);
  line-height: var(--line-height-loose);
  background-color: var(--color-neutral-100);
  font-weight: 500;
  font-family: var(--font-primary);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container{
  width: 100%;
  max-width: 121.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
 margin-left: auto;
 margin-right: auto;
  
}